body {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(./IMG/fond-brouillard-dynamique-realiste_23-2149111508.webp) fixed center/cover;  
}

h1{
font-size: 7rem;
color: white;
text-shadow: 2px 2px blue;
}
h2{
  font-size: 3rem;
color: white;
text-shadow: 2px 2px black;  
}
p{
    font-size: 2rem;
}
.box{
    background-color: rgba(128, 128, 128, 0.466);
    padding: 20px;
    margin: 20px 250px; 
    border-radius: 25px;
    border: 3px solid blue;
    box-shadow: -2px -2px 0px 1px yellow;
}