body{
    background: url(./IMG/fond-brouillard-dynamique-realiste_23-2149111508.webp) fixed center/cover;
}
.soiree-up{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.soiree-img-left img{
    max-width: 350px;
    border-radius: 15px;

}
.soiree-img-right img{
    max-width: 350px;
    border-radius: 15px;
}
.soiree-titre{

    color: var(--colorwhite);
    text-shadow: 4px 4px 4px var(--color3);
    font-size: 6rem;
    padding: 25px;
}
.soiree-descriptif{
    padding: 40px ;
    font-size: 4rem;
    line-height: 70px;
    font-weight: bold;
    color: white;
}
.soiree-descriptif p{
    margin: 20px;
    padding: 60px;
    text-shadow: 2px 2px 2px red; 
}
@media screen and (max-width:1500px) {
    
    .soiree-img-left img{
    max-width:250px;
    border-radius: 15px;
}
    .soiree-img-right img{
    max-width:250px;
    border-radius: 15px;
}
    .soiree-titre{
    font-size: 3rem;
}
    .soiree-descriptif{
    font-size: 2rem;
    line-height: 30px;
    padding: 5px;font-weight: normal;
}
    .soiree-descriptif p{
    margin: 5px;
    padding: 10px;
    
}
}
@media screen and (max-width:1100px) {
    .soiree-up{
    display: block;
}
    .soiree-img-left img{
    max-width:200px;
    border-radius: 15px;
}
    .soiree-img-right img{
    display: none;
}
    .soiree-titre{
    font-size: 2rem;
}
    .soiree-descriptif{
    font-size: 1rem;
    line-height: 30px;
    padding: 5px;font-weight: normal;
}
    .soiree-descriptif p{
    margin: 5px;
    padding: 10px;
    text-shadow: none
}
}